.header {
  display: flex;
  background-image: url("imgs/landingpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  min-height: 70vh;
}

